
.App {
    display: flex;
    flex-direction: column;
    height: max-content;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  
}
.container {
    
    display: flex;
    width: 30%;
    height: 30%;   
    
}
.chatBox {
  height: 300px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  color:#44c2d4;
}






