
.container{
  background-color: #5c9ed8;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height:100%;
  width:100%;
}

.button-voltar{  
  background-color:#71ABDD;
  padding:20%;
  margin-bottom:10px;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  border:none;
  color:#FFF;
  font-size:32px;
  font-weight:bold;
}
.ip-txt{
  font-size:32px;
  color:#FFF;
  
}
.button-voltar:hover{
  cursor: pointer;
  background-color:#5c9ed8;
}